@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: homa;
  src: local("homa"), url("./assets/fonts/homa.ttf") format("truetype");
}

body {
  @apply font-homa;
}
/* .wheel {
  position: relative;
}

.wheel-section {
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  font-weight: bold;
}
.wheel {
  background: conic-gradient(from 0deg, #ff0000, #ffff00, #00ff00, #0000ff);
  border: 10px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */
